.blue {
    color: rgb(0, 183, 255);
}

header {
    height: 64px;
}

.split-div {
    display: flex;
}

.banner-img {
    width: 60%;
    height: auto;
}

.banner-txt {
    width: 40%;
    height: auto;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
}